// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: #699;
body {
  font-family: 'Open Sans', sans-serif;
}

#tasks {
  h1 {
    color: $primary-color;
  }

  ul li {
    color: #333;

    a {
      font-size: 0.8em;
      color: #699;
      text-decoration: none;

      &:hover {
        background: lighten($primary-color, 40%);
      }
    }
  }

  .blank {
    color: #333;
  }
}